# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# Environment
.env

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Database
*.db
*.sqlite3

# Test cache
.pytest_cache/

# Editor backups
*.save

# Database backups
*.sql
